﻿@model AmediaTest.ViewModels.LoginViewModel
<ul class="navbar-nav">
    @*//@if (SignInManager.IsSignedIn(User))*@
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" title="Manage">Hello </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline">
            <button asp-action="logout" asp-controller="cuenta" class="nav-link btn btn-link text-dark"></button>
        </form>
    </li>
    @*}
        else
        {*@
    @*}*@
</ul>

<form id="loginForm" asp-action="Login" asp-controller="Cuenta" method="post" class="form-inline">
        <label asp-for="Usuario"></label>
        <input asp-for="Usuario" class="nav-link text-dark" id="userInput" />
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" class="nav-link text-dark" id="contraseñaInput" />
    <input type="submit" class="btn btn-success" />
</form>
