﻿@model AmediaTest.Models.TUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodRolNavigation.CodRol)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodUsuario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
